<h1 class="title">New Review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
    <div class="form-group">
      <%= f.label :Rating %>
      <%= f.select :rating, [0, 1, 2, 3, 4, 5], class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.input :content, class: "form-control" %>
    </div>
    <%= f.submit :submit, class: "btn btn-primary" %>
<% end %>
